* {
  padding: 0;
  margin:  0;
  width:   100%;
}
*::selection {
  background: #C5545E;
  color:      #ff00de;
}

a {
  text-decoration: none;
}

body {
  background-color: #222;
  color:            #F3E5E6;
}

h1 {
  font-size:   32px;
  line-height: 1.2em;
}

ul {
  list-style: none;
}
